<form (ngSubmit)="edit()" #editForm="ngForm">
    <h2 class="form-login-heading">Edit User</h2>

    <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" [(ngModel)]="userChanges.FirstName" name="FirstName" required>
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" [(ngModel)]="userChanges.LastName" name="LastName" required>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" [(ngModel)]="userChanges.Email" name="Email" required>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!editForm.form.valid">Submit</button>
</form>