<div class="container">

    <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>

    <table class="table table-striped table-hover">
        <caption><h2>User List</h2></caption>
        <thead>
            <tr>
                <th>User Name</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let userData of roleData">
                <td class="col-sm-2">
                    {{userData.UserName}}
                </td>
                <td class="col-sm-2">
                    <select class="form-control" id="Role" [(ngModel)]="userData.Role" name="Role">
                        <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                    </select>
                </td>
                <td class="col-sm-6" align="right">
                    <button class="btn btn-danger" (click)="modal.open()" type="button">Delete &raquo;</button>
                    <modal #modal>
                        <modal-header [show-close]="true">
                            <h4 class="modal-title">Delete User?</h4>
                        </modal-header>
                        <modal-body>
                            <div class="alert alert-info alert-dismissable">
                                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <strong>{{ message }}</strong>
                            </div>

                            <p>You are about to delete <strong>{{userData.UserName}}</strong> of the system. Are you sure?</p>
                        </modal-body>
                        <modal-footer>
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                            <button type="button" class="btn btn-danger" (click)="deleteUser(userData.UserName)">Delete</button>
                        </modal-footer>
                    </modal>

                    <button *ngIf="userData.UserName!=authservice._authentication.userName" class="btn btn-primary" (click)="assingRole(userData.UserName,userData.Role)" type="button">Change Role &raquo;</button>

                    <button *ngIf="userData.UserName!=authservice._authentication.userName" class="btn btn-warning" (click)="modalEditUser.open()" type="button">Edit User &raquo;</button>

                    <!--Modal para la edicion de los datos de un usuario que no sea el administrador-->
                    <modal #modalEditUser>
                        <modal-header [show-close]="true">
                            <h4 class="modal-title">Edit User</h4>
                        </modal-header>
                        <modal-body>
                            <form #editUser="ngForm">
                                <div class="alert alert-info alert-dismissable">
                                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ message }}</strong>
                                </div>

                                <div class="form-group">
                                    <label for="FirstName">First Name</label>
                                    <input type="text" class="form-control" id="FirstName" [(ngModel)]="userChanges.FirstName" name="FirstName" required>
                                </div>

                                <div class="form-group">
                                    <label for="LastName">Last Name</label>
                                    <input type="text" class="form-control" id="LastName" [(ngModel)]="userChanges.LastName" name="LastName" required>
                                </div>

                                <div class="form-group">
                                    <label for="Email">Email</label>
                                    <input type="email" class="form-control" id="Email" [(ngModel)]="userChanges.Email" name="Email" required>
                                </div>
                            </form>
                        </modal-body>
                        <modal-footer>
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalEditUser.dismiss()">Cancel</button>
                            <button type="button" class="btn btn-warning" (click)="editUserAdmin(userData.UserName)">Edit User</button>
                        </modal-footer>
                    </modal>
                    <!--Fin del modal para la edicion de los datos de un usuario que no sea el administrador-->

                    <button *ngIf="userData.UserName!=authservice._authentication.userName" class="btn btn-warning" (click)="modalChangePassword.open()" type="button">Change Password &raquo;</button>

                    <!--Modal para la edicion de la contraseņa de un usuario que no sea el administrador-->
                    <modal #modalChangePassword>
                        <modal-header [show-close]="true">
                            <h4 class="modal-title">Change Password</h4>
                        </modal-header>
                        <modal-body>
                            <form #changePasswordForm="ngForm">
                                <div class="alert alert-info alert-dismissable">
                                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                    <strong>{{ message }}</strong>
                                </div>

                                <div class="form-group">
                                    <label for="OldPassword">Old Password</label>
                                    <input type="password" class="form-control" id="Old Password" [(ngModel)]="passwordToChange.OldPassword" name="OldPassword" required>
                                </div>

                                <div class="form-group">
                                    <label for="NewPassword">New Password</label>
                                    <input type="password" class="form-control" id="New Password" [(ngModel)]="passwordToChange.NewPassword" name="NewPassword" required>
                                </div>

                                <div class="form-group">
                                    <label for="ConfirmPassword">Confirm Password</label>
                                    <input type="password" class="form-control" id="Confirm Password" [(ngModel)]="passwordToChange.ConfirmPassword" name="ConfirmPassword" required>
                                </div>
                            </form>
                        </modal-body>
                        <modal-footer>
                            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modalChangePassword.dismiss()">Cancel</button>
                            <button type="button" class="btn btn-warning" (click)="changePassword(userData.UserName)">Change Password</button>
                        </modal-footer>
                    </modal>
                    <!--Fin del modal para la edicion de la contraseņa de un usuario que no sea el administrador-->

                </td>
            </tr>
        </tbody>
    </table>
</div>