<form (ngSubmit)="signUp()" #signupForm="ngForm">
    <h2 class="form-login-heading">Sign up</h2>

    <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input type="text" class="form-control" id="FirstName" [(ngModel)]="registration.FirstName" name="FirstName" required>
    </div>

    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input type="text" class="form-control" id="LastName" [(ngModel)]="registration.LastName" name="LastName" required>
    </div>

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" class="form-control" id="Email" [(ngModel)]="registration.Email" name="Email" required>
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" [(ngModel)]="registration.Password" name="Password" required>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="Confirm Password" [(ngModel)]="registration.ConfirmPassword" name="ConfirmPassword" required>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!signupForm.form.valid">Submit</button>
    
</form>