﻿<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" routerLink="/home">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-main">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown" *ngIf="authentication.isAuth">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        Welcome {{authentication.userName}} 
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngIf="authentication.isAuth"><a class="dropdown-item" routerLink="/edit" routerLinkActive="active">Edit User</a></li>
                        <li *ngIf="authentication.isAuth"><a class="dropdown-item" routerLink="/change-password" routerLinkActive="active">Change Password</a></li>
                        <li *ngIf="authentication.role=='Admin'"><a class="dropdown-item" routerLink="/user-list" routerLinkActive="active">User List</a></li>
                    </ul>
                </li>
                <li class="dropdown" *ngIf="authentication.isAuth">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                        My Groups
                        <span class="caret">
                        </span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li *ngIf="authentication.isAuth"> <a class="dropdown-item" routerLink="/group-list" routerLinkActive="active">Group List</a></li>
                        <li *ngIf="authentication.isAuth"> <a class="dropdown-item" routerLink="/group-members-list" routerLinkActive="active">Group Members List</a></li>
                    </ul>
                </li>
                <li *ngIf="authentication.isAuth"> <a routerLink="/folder-list" routerLinkActive="active">My Folders</a></li>
                <li *ngIf="authentication.isAuth"> <a routerLink="/home" (click)="logOut()">Logout</a></li>
                <li *ngIf="!authentication.isAuth"> <a routerLink="/login" routerLinkActive="active">Login</a></li>
                <li *ngIf="!authentication.isAuth"> <a routerLink="/signup" routerLinkActive="active">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="jumbotron">
    <div class="container">
        <div class="page-header text-center">
            <h1>Repository App</h1>
        </div>
        <p>This single page application is built using Angular2, it is using OAuth bearer token authentication, ASP.NET Web API 2, OWIN middleware, and Neo4j.AspNet Identity to generate tokens and register users.</p>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>
<hr />
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <p class="text-muted">Creado por Héctor Martínez. Twitter: <a target="_blank" href="http://twitter.com/ilmito24">@Ilmito24</a></p>
            </div>
            <div class="col-md-6">
                <p class="text-muted">Correo de Héctor Martínez: <a target="_blank" href="http://gmail.com">hectormg2413@gmail.com</a></p>
            </div>
        </div>
    </div>
</div>