<div class="row" >
    <div class="col-md-2">
        &nbsp;
    </div>

    <div *ngIf="!authentication.isAuth" class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">If you have Username and Password, you can use the button below to access your repository content.</p>
        <p><a class="btn btn-primary" routerLink="/login" role="button">Login &raquo;</a></p>
    </div>

    <div *ngIf="!authentication.isAuth" class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">Use the button below to create Username and Password to start using our repository app.</p>
        <p><a class="btn btn-primary" routerLink="/signup" role="button">Sign Up &raquo;</a></p>
    </div>

    <div *ngIf="authentication.isAuth" class="col-md-4">
        <h2>Files</h2>
        <p class="text-primary">Use the button below to access all of your folders and files stored in our service.</p>
        <p><a class="btn btn-primary" routerLink="/folder-list" role="button">My Folders &raquo;</a></p>
    </div>

    <div *ngIf="authentication.isAuth" class="col-md-4">
        <h2>Groups</h2>
        <p class="text-primary">Use the button below to access to the list of all the groups you belong to.</p>
        <p><a class="btn btn-primary" routerLink="/group-list" role="button">My Groups &raquo;</a></p>
    </div>

    <div class="col-md-2">
        &nbsp;
    </div>
</div>