<form (ngSubmit)="changePassword()" #changePasswordForm="ngForm">
    <h2 class="form-login-heading">Change Password</h2>

    <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>

    <div class="form-group">
        <label for="OldPassword">Old Password</label>
        <input type="password" class="form-control" id="Old Password" [(ngModel)]="passwordToChange.OldPassword" name="OldPassword" required>
    </div>

    <div class="form-group">
        <label for="NewPassword">New Password</label>
        <input type="password" class="form-control" id="New Password" [(ngModel)]="passwordToChange.NewPassword" name="NewPassword" required>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="Confirm Password" [(ngModel)]="passwordToChange.ConfirmPassword" name="ConfirmPassword" required>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!changePasswordForm.form.valid">Submit</button>
</form>