<form (ngSubmit)="login()" #loginForm="ngForm">
    <h2 class="form-login-heading">Login</h2>

    <div class="alert alert-info alert-dismissable">
        <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>{{ message }}</strong>
    </div>

    <div class="form-group">
        <label for="userName">Email</label>
        <input type="email" class="form-control" id="userName" [(ngModel)]="loginData.userName" name="userName" required>
    </div>

    <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" [(ngModel)]="loginData.Password" name="Password" required>
    </div>

    <button type="submit" class="btn btn-lg btn-primary btn-block" [disabled]="!loginForm.form.valid">Submit</button>
</form>

